<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target
      name="file"
      xsi:type="File"
     layout="${longdate} ${logger} ${level}: ${message}"
            fileName="${specialfolder:folder=CommonApplicationData}/sensu-client.net/logs/logfile.txt"
            archiveFileName="${specialfolder:folder=CommonApplicationData}/sensu-client.net/archives/log.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="utf-8" />

    <target xsi:type="ColoredConsole"
            name="console"
            useDefaultRowHighlightingRules="true"
            layout="${longdate} ${logger} ${level}: ${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>